<%- include('../views/partials/header'); -%>
<div class="container">
  <h1>
    About
  </h1>
  <ul>
    Stacks use
    <li>Express</li>
    <li>EJS</li>
    <li>Request</li>
    <li>Bootstrap</li>
  </ul>
</div>
<%- include('../views/partials/footer'); -%>
