<%- include('../views/partials/header'); -%>
<div class="container about">
  <div>
    <h1>
      About
    </h1>
    <h5>Stacks</h5>
    <ul>
      <li>Express</li>
      <li>EJS</li>
      <li>Request</li>
      <li>Bootstrap</li>
    </ul>
    <h5>APIs</h5>
    <ul>
      <li>Weatherstack</li>
      <li>Mapbox</li>
    </ul>
  </div>
</div>
<%- include('../views/partials/footer'); -%>
